# Игнорируем виртуальное окружение
venv/
__pycache__/
*.pyc

# Игнорируем файлы и папки IDE (например, для VS Code)
.vscode/

# Игнорируем файлы конфигурации
.env

# Логи
*.log




*.db
*.sqlite
*.sqlite3


migrations/versions/*.pyc
migrations/


alembic.ini

alembic/

instagram_cookies.txt
data/